/* Style général */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
}

.header img.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Formulaire */

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #0077b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

form button:hover {
    background-color: #005582;
}


/* Section Contact Us */

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-links a {
    color: #0077b5;
    /* Couleur bleue pour LinkedIn */
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

.social-links a:hover {
    color: #005582;
    /* Couleur plus foncée au survol */
}


/* Style pour le lien Facebook */

.social-links a.facebook {
    color: #3b5998;
    /* Couleur bleue pour Facebook */
}

.social-links a.facebook:hover {
    color: #2d4373;
    /* Couleur plus foncée au survol */
}
